.DS_Store
.env
.venv
data/
model/
__pycache__/
__pypackages__/
.Python
bin
AWSCLIV2.pkg
# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version
.cache